@font-face {
  font-family: 'FuturaXK';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.svg#FuturaXK") format("svg"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'CCZoinks';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.ttf") format("truetype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.svg#cc_zoinksmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaCND';
  src: url("../fonts/futuralt-condensed-webfont.eot");
  src: url("../fonts/futuralt-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt-condensed-webfont.woff") format("woff"), url("../fonts/futuralt-condensed-webfont.ttf") format("truetype"), url("../fonts/futuralt-condensed-webfont.svg#futura_ltcondensed") format("svg");
  font-weight: normal;
  font-style: normal; }
/*38.1966%*/
/*61.8034%*/
html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.blue.gradient {
  background: linear-gradient(-30deg, #6895cd, #3f6bb3); }

.green.gradient {
  background: linear-gradient(-30deg, #96c177, #45b649); }

.yellow.gradient {
  background: linear-gradient(-30deg, #fad375, #f9b018); }

.cyan.gradient {
  background: linear-gradient(-30deg, #96d7e1, #56c5ce); }

.AV50 {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0; }
  .AV50 main {
    background: #ffff02;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 80%; }
    .AV50 main span {
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
      line-height: 1; }
      .AV50 main span:nth-of-type(1) {
        font-size: 310%;
        font-family: "CCZoinks";
        color: #fc2f00;
        text-shadow: -0.12em 0.07em 0 #000, -0.5pt -0.5pt 0 #000, 0.5pt -0.5pt 0 #000, -0.5pt 0.5pt 0 #000, 0.5pt 0.5pt 0 #000;
        margin-top: -12%; }
      .AV50 main span:nth-of-type(2) {
        font-size: 90%;
        font-family: "FuturaXK";
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: -1px; }
      .AV50 main span:nth-of-type(3) {
        font-size: 70%;
        font-family: "FuturaCND"; }
      .AV50 main span:nth-of-type(4) {
        font-size: 180%;
        font-family: "CCZoinks";
        color: #fc2f00;
        position: relative;
        top: 2vw;
        text-shadow: -0.12em 0.07em 0 #000, -0.5pt -0.5pt 0 #000, 0.5pt -0.5pt 0 #000, -0.5pt 0.5pt 0 #000, 0.5pt 0.5pt 0 #000; }
      .AV50 main span:nth-of-type(5) {
        font-size: 60%;
        font-family: "FuturaCND"; }
      @media only screen and (min-width: 2.5in) {
        .AV50 main span:nth-of-type(1) {
          font-size: 360%; }
        .AV50 main span:nth-of-type(2) {
          font-size: 130%; }
        .AV50 main span:nth-of-type(3) {
          font-size: 100%; }
        .AV50 main span:nth-of-type(4) {
          font-size: 280%; }
        .AV50 main span:nth-of-type(5) {
          font-size: 85%; } }
