@font-face {
  font-family: 'FuturaXK';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.svg#FuturaXK") format("svg"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'CCZoinks';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.ttf") format("truetype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.svg#cc_zoinksmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaCND';
  src: url("../fonts/futuralt-condensed-webfont.eot");
  src: url("../fonts/futuralt-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt-condensed-webfont.woff") format("woff"), url("../fonts/futuralt-condensed-webfont.ttf") format("truetype"), url("../fonts/futuralt-condensed-webfont.svg#futura_ltcondensed") format("svg");
  font-weight: normal;
  font-style: normal; }
/*38.1966%*/
/*61.8034%*/
html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.blue.gradient {
  background: linear-gradient(-30deg, #6895cd, #3f6bb3); }

.green.gradient {
  background: linear-gradient(-30deg, #96c177, #45b649); }

.yellow.gradient {
  background: linear-gradient(-30deg, #fad375, #f9b018); }

.cyan.gradient {
  background: linear-gradient(-30deg, #96d7e1, #56c5ce); }

body.boxes {
  margin: 0;
  width: calc(100% - 1pt);
  margin-left: 1pt;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 100%;
  align-content: space-around; }
  body.boxes > span {
    text-align: center;
    font-family: "CCZoinks";
    text-transform: uppercase;
    padding: 0 2%;
    border: 0.5pt solid black;
    box-shadow: -1pt 0.5pt 0 rgba(0, 0, 0, 0.8);
    text-shadow: -0.12em 0.07em 0 #000, -0.5pt -0.5pt 0 #000, 0.5pt -0.5pt 0 #000, -0.5pt 0.5pt 0 #000, 0.5pt 0.5pt 0 #000;
    color: white;
    max-height: 4em; }
    body.boxes > span > span {
      display: block;
      white-space: nowrap;
      line-height: 0;
      position: relative; }
    body.boxes > span:nth-of-type(1) {
      width: 100%;
      height: 17%; }
      body.boxes > span:nth-of-type(1) > span {
        top: 58%; }
    body.boxes > span:nth-of-type(2) {
      width: 100%;
      height: 17%; }
      body.boxes > span:nth-of-type(2) > span {
        top: 55%; }
    body.boxes > span:nth-of-type(3) {
      width: 80%;
      height: 25%; }
      body.boxes > span:nth-of-type(3) > span#Fix {
        top: 34%; }
      body.boxes > span:nth-of-type(3) > span#Computer {
        top: 78%; }
    body.boxes > span:nth-of-type(4) {
      width: 62%;
      height: 25%; }
      body.boxes > span:nth-of-type(4) > span#Support {
        top: 27%; }
      body.boxes > span:nth-of-type(4) > span#Business {
        top: 73%; }
    body.boxes > span #fix {
      margin-bottom: -5%; }
  body.boxes.horizontal {
    justify-content: space-around; }
    body.boxes.horizontal > span {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 45%; }
      body.boxes.horizontal > span:nth-of-type(1) {
        width: 52%;
        margin-right: 2%;
        order: 1; }
        body.boxes.horizontal > span:nth-of-type(1) > span {
          width: 100%; }
      body.boxes.horizontal > span:nth-of-type(2) {
        width: 50%;
        margin-right: 2%;
        order: 3; }
        body.boxes.horizontal > span:nth-of-type(2) > span {
          width: 100%; }
      body.boxes.horizontal > span:nth-of-type(3) {
        width: 37%;
        order: 2; }
        body.boxes.horizontal > span:nth-of-type(3) > span {
          width: 100%; }
        body.boxes.horizontal > span:nth-of-type(3) > span#Fix {
          top: 41%; }
        body.boxes.horizontal > span:nth-of-type(3) > span#Computer {
          margin-top: -1em; }
      body.boxes.horizontal > span:nth-of-type(4) {
        width: 39%;
        order: 4; }
        body.boxes.horizontal > span:nth-of-type(4) > span {
          width: 100%; }
        body.boxes.horizontal > span:nth-of-type(4) > span#Business {
          width: 80%;
          margin-top: -0.7em; }
