@font-face {
  font-family: 'FuturaXK';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.svg#FuturaXK") format("svg"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'CCZoinks';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.ttf") format("truetype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.svg#cc_zoinksmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaCND';
  src: url("../fonts/futuralt-condensed-webfont.eot");
  src: url("../fonts/futuralt-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt-condensed-webfont.woff") format("woff"), url("../fonts/futuralt-condensed-webfont.ttf") format("truetype"), url("../fonts/futuralt-condensed-webfont.svg#futura_ltcondensed") format("svg");
  font-weight: normal;
  font-style: normal; }
/*38.1966%*/
/*61.8034%*/
html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.blue.gradient {
  background: linear-gradient(-30deg, #6895cd, #3f6bb3); }

.green.gradient {
  background: linear-gradient(-30deg, #96c177, #45b649); }

.yellow.gradient {
  background: linear-gradient(-30deg, #fad375, #f9b018); }

.cyan.gradient {
  background: linear-gradient(-30deg, #96d7e1, #56c5ce); }

.colophon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin: 0; }
  .colophon > span {
    display: block; }
  .colophon #phone {
    font-family: "CCZoinks";
    color: #fc2f00;
    font-size: 288%;
    white-space: nowrap;
    width: 100%;
    line-height: 1;
    float: left;
    text-align: center;
    margin-top: 2%;
    text-shadow: -0.12em 0.07em 0 #000, -0.5pt -0.5pt 0 #000, 0.5pt -0.5pt 0 #000, -0.5pt 0.5pt 0 #000, 0.5pt 0.5pt 0 #000; }
  .colophon #site {
    font-family: "FuturaXK";
    color: black;
    float: left;
    font-size: 130%;
    text-transform: uppercase;
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 62%;
    text-align: left; }
    .colophon #site:after {
      content: "6373";
      font-family: "CCZoinks";
      float: right;
      opacity: 0.5;
      color: black;
      text-shadow: none;
      font-size: 100%;
      letter-spacing: 0.5em;
      position: absolute;
      width: 62%;
      left: 104%;
      top: 9%;
      text-align: center;
      line-height: 110%; }
