@font-face {
  font-family: 'FuturaXK';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.svg#FuturaXK") format("svg"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'CCZoinks';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.ttf") format("truetype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.svg#cc_zoinksmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaCND';
  src: url("../fonts/futuralt-condensed-webfont.eot");
  src: url("../fonts/futuralt-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt-condensed-webfont.woff") format("woff"), url("../fonts/futuralt-condensed-webfont.ttf") format("truetype"), url("../fonts/futuralt-condensed-webfont.svg#futura_ltcondensed") format("svg");
  font-weight: normal;
  font-style: normal; }
/*38.1966%*/
/*61.8034%*/
html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.blue.gradient {
  background: linear-gradient(-30deg, #6895cd, #3f6bb3); }

.green.gradient {
  background: linear-gradient(-30deg, #96c177, #45b649); }

.yellow.gradient {
  background: linear-gradient(-30deg, #fad375, #f9b018); }

.cyan.gradient {
  background: linear-gradient(-30deg, #96d7e1, #56c5ce); }

body.masthead {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center; }
  body.masthead img {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: -8%; }
  body.masthead #tagline {
    font-family: "FuturaXK";
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    display: block;
    float: left;
    white-space: nowrap; }
