@font-face {
  font-family: 'FuturaXK';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.svg#FuturaXK") format("svg"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'CCZoinks';
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot");
  src: url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot?#iefix") format("embedded-opentype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.ttf") format("truetype"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.woff") format("woff"), url("http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.svg#cc_zoinksmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaCND';
  src: url("../fonts/futuralt-condensed-webfont.eot");
  src: url("../fonts/futuralt-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/futuralt-condensed-webfont.woff") format("woff"), url("../fonts/futuralt-condensed-webfont.ttf") format("truetype"), url("../fonts/futuralt-condensed-webfont.svg#futura_ltcondensed") format("svg");
  font-weight: normal;
  font-style: normal; }
/*38.1966%*/
/*61.8034%*/
html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.blue.gradient {
  background: linear-gradient(-30deg, #6895cd, #3f6bb3); }

.green.gradient {
  background: linear-gradient(-30deg, #96c177, #45b649); }

.yellow.gradient {
  background: linear-gradient(-30deg, #fad375, #f9b018); }

.cyan.gradient {
  background: linear-gradient(-30deg, #96d7e1, #56c5ce); }

.TQ {
  overflow: hidden;
  position: relative;
  margin: 0;
  border: 3pt solid black;
  box-sizing: border-box; }
  .TQ > header {
    position: absolute;
    top: 0;
    left: 0;
    height: 33%;
    width: 25%; }
    .TQ > header > img {
      width: 100%; }
  .TQ > main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .TQ > main > iframe.promotion {
      position: absolute;
      bottom: 0.4pc;
      left: 0.4pc;
      height: calc(67% - 0.4pc);
      width: 25%; }
    .TQ > main > iframe.boxes {
      position: absolute;
      top: 0.4pc;
      right: 0.4pc;
      height: 33%;
      width: calc(61.8034% - 0.4pc); }
    .TQ > main > img.nerd {
      position: absolute;
      top: 10%;
      left: 23%;
      height: 154%;
      z-index: 99; }
    .TQ > main > span {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 11.8034%;
      width: 38.1966%;
      height: 0;
      line-height: 0;
      white-space: nowrap;
      font-family: "FuturaXK";
      text-transform: uppercase; }
  .TQ > footer {
    position: absolute;
    bottom: 0;
    right: 0.4pc;
    height: 36%;
    width: 59%; }
    .TQ > footer > iframe {
      height: 100%;
      width: 100%; }

.TH {
  overflow: hidden;
  position: relative;
  margin: 0;
  border: 3pt solid black;
  box-sizing: border-box; }
  .TH > header {
    position: absolute;
    top: 0;
    left: 0;
    height: 33%;
    width: 38.1966%; }
    .TH > header > iframe {
      height: 100%;
      width: 100%; }
  .TH > main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .TH > main > iframe.promotion {
      position: absolute;
      top: 33%;
      left: 0.8pc;
      width: calc(38.1966% - 0.8pc);
      height: calc(33% + 0.8pc); }
    .TH > main > iframe.boxes {
      position: absolute;
      top: 0.4pc;
      right: 0.4pc;
      width: 38.1966%;
      height: 80%; }
    .TH > main > img.nerd {
      position: absolute;
      top: 10%;
      left: 33%;
      height: 128%;
      z-index: 99; }
  .TH > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 33%;
    width: 100%; }
    .TH > footer > iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0.8pc;
      height: 33%;
      width: 38.1966%; }

.DH {
  overflow: hidden;
  position: relative;
  margin: 0;
  border: 3pt solid black;
  box-sizing: border-box; }
  .DH > header {
    position: absolute;
    top: 0;
    left: 0;
    height: 33%;
    width: 50%; }
    .DH > header > iframe {
      height: 100%;
      width: 100%; }
  .DH > main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .DH > main > iframe.promotion {
      position: absolute;
      top: 0;
      right: 0.4pc;
      height: calc(33% - $DHPadding);
      width: calc(50% - 0.4pc); }
    .DH > main > iframe.boxes {
      position: absolute;
      bottom: 12%;
      right: 0.4pc;
      width: 61.8034%;
      height: 55%; }
    .DH > main > img.nerd {
      position: absolute;
      top: 40%;
      left: 0.4pc;
      height: 95%;
      z-index: 99; }
  .DH > footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 61.8034%;
    height: 12%; }
    .DH > footer > iframe {
      height: 100%;
      width: 100%; }

.DQ {
  overflow: hidden;
  position: relative;
  margin: 0;
  border: 3pt solid black;
  box-sizing: border-box; }
  .DQ > header {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 43%; }
    .DQ > header > iframe {
      height: 100%;
      width: 100%; }
  .DQ > main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0; }
    .DQ > main > iframe.promotion {
      position: absolute;
      bottom: 0.4pc;
      left: 0.8pc;
      height: calc(100% - 50% - 0.4pc);
      width: calc(43% - (0.4pc * 4)); }
    .DQ > main > iframe.boxes {
      position: absolute;
      top: 0.4pc;
      right: 0.4pc;
      height: 72%;
      width: 33%; }
    .DQ > main > img.nerd {
      position: absolute;
      top: 13%;
      left: 40%;
      height: 135%;
      z-index: 99; }
  .DQ > footer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 14%;
    width: 43%; }
    .DQ > footer > iframe {
      height: 100%;
      width: 100%; }

.twenty-five-off {
  margin: 0;
  height: 100%;
  width: 100%; }
  .twenty-five-off main {
    background: #fc2f00;
    width: 100%;
    height: 100%;
    display: flex; }
    .twenty-five-off main span {
      font-family: "CCZoinks";
      color: white;
      text-shadow: -0.12em 0.07em 0 #000, -0.5pt -0.5pt 0 #000, 0.5pt -0.5pt 0 #000, -0.5pt 0.5pt 0 #000, 0.5pt 0.5pt 0 #000; }
  .twenty-five-off #price {
    width: 62%;
    text-align: right;
    display: table;
    height: 100%; }
    .twenty-five-off #price > span {
      display: table-cell;
      vertical-align: middle; }
  .twenty-five-off #details {
    width: 38%;
    text-align: center;
    display: table;
    height: 100%; }
    .twenty-five-off #details > span {
      display: table-cell;
      vertical-align: middle; }
