.DH{
	overflow: hidden;	
	@include reset;
	>header{
		@include position(upper,left);
		height: $DHHratio1;
		width: $DHWratio1;
		>iframe{
			@include fill-parent;
		}
	}
	>main{
		@include fill-parent;
		@include position(upper,left);
		>iframe.promotion{
			@include position(upper,right,0,$DHPadding);
			height: calc(#{$DHHratio1} - $DHPadding);
			width: calc(#{100 - $DHWratio1} - #{$DHPadding});
		}
		>iframe.boxes{
			@include position(lower,right,$DHHratio2,$DHPadding);
			width: $DHWratio2;
			height: #{100 - $DHHratio1 - $DHHratio2};
		}
		>img.nerd{
			@include position(upper,left,40%,$DHPadding);
			height: 95%;
			z-index: 99;
		}
	}
	>footer{
		@include position(lower,right);
		width: $DHWratio2;
		height: $DHHratio2;
		>iframe{
			@include fill-parent;
		}
	}
}