.DQ{
	overflow: hidden;
	
	@include reset;
	>header{
		@include position(upper,left);
		height: $DQHratio1;
		width: $DQWratio;
		>iframe{
			@include fill-parent;
		}
	}
	>main{
		@include fill-parent;
		overflow: hidden;
		@include position(upper,left);
		>iframe.promotion{
			@include position(lower,left,$DQPadding,#{$DQPadding * 2});
			height: calc(#{100% - #{$DQHratio1}} - #{$DQPadding});
			width: calc(#{$DQWratio} - (#{$DQPadding} * 4));	
		}
		>iframe.boxes{
			@include position(upper,right,$DQPadding,$DQPadding);
			height: #{100% - ($DQHratio2 * 2)};
			width: $third;
		}
		>img.nerd{
			@include position(upper,left,13%,#{$DQWratio - 3%});
			height: 135%;
			z-index: 99;		
		}
	}
	>footer{
		@include position(lower,right);
		height: $DQHratio2;
		width: $DQWratio;
		>iframe{
			@include fill-parent;
		}
	}
}