@font-face {
    font-family: 'FuturaXK';
    src: url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot');
    src: url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.eot?#iefix') format('embedded-opentype'), 
         url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.svg#FuturaXK') format('svg'),
         url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.woff') format('woff'), 
         url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/futuraxk-webfont.ttf')  format('truetype');
}

@font-face {
     font-family: 'CCZoinks';
     src: url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot');
     src: url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.eot?#iefix') format('embedded-opentype'),
            url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.ttf') format('truetype'),
            url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.woff') format('woff'),
            url('http://www.callnerds.com/wp-content/themes/nerdsoncall_foundation/fonts/cc_zoinks_medium-webfont.svg#cc_zoinksmedium') format('svg');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'FuturaCND';
    src: url('../fonts/futuralt-condensed-webfont.eot');
    src: url('../fonts/futuralt-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-condensed-webfont.woff') format('woff'),
         url('../fonts/futuralt-condensed-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-condensed-webfont.svg#futura_ltcondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}