$border: 3pt solid black;
$globalPadding: 0.4pc;


$yellow: #ffff02;
$red: #fc2f00;

$phi: (1/2) + (sqrt(5)/2);
$invPhi: 1 / $phi; 
$invInvPhi: $invPhi / $phi * 100%; /*#{$invInvPhi}*/
$invPhi: $invPhi * 100%;/*#{$invPhi}*/

$half: 50%;
$third: 33%;
$quarter: 25%;

$TQWratio1: $quarter;
$TQWratio2: $invPhi;
$TQHratio: $third;
$TQPadding: $globalPadding;

$THHratio: 10%;
$THWratio: $invInvPhi;
$THPadding: $globalPadding;

$DHWratio1: $half;
$DHWratio2: $invPhi;
$DHHratio1: $third;
$DHHratio2: 12%;
$DHPadding: $globalPadding;

$DQWratio: 43%;
$DQHratio1: $half;
$DQHratio2: 14%;
$DQPadding: $globalPadding;

$resolution: 300;

html{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.blue{
	&.gradient{
		background: linear-gradient(-30deg, #6895CD, #3F6BB3);
	}
}
.green{
	&.gradient{
		background: linear-gradient(-30deg, #96C177, #45B649);
	}
}
.yellow{
	&.gradient{
		background: linear-gradient(-30deg, #FAD375, #F9B018);
	}
}
.cyan{
	&.gradient{
		background: linear-gradient(-30deg, #96D7E1, #56C5CE);
	}
}