@mixin page-size($width, $height){
	@page{
		size: $width $height;
	}
	width: $width;
	height: $height;
}
@mixin text-outline{
	//text-shadow: -3pt 2pt 0 #000, -1pt -1pt 0 #000, 1pt -1pt 0 #000, -1pt 1pt 0 #000, 1pt 1pt 0 #000;
	text-shadow: -0.12em 0.07em 0 #000, -0.5pt -0.5pt 0 #000, 0.5pt -0.5pt 0 #000, -0.5pt 0.5pt 0 #000, 0.5pt 0.5pt 0 #000;
}
@mixin phone-style{
	font-family: "CCZoinks";
	color: $red;
	@include text-outline;
}
@mixin position($hPos,$wPos,$hOffset: 0,$wOffset: 0){
	position: absolute;
	@if $hPos == lower{
		bottom: $hOffset;
	}
	@else if $hPos == upper{
		top: $hOffset;
	}
	@else if $hPos == center{
		top: 0;
		bottom: 0;
		margin: auto;
	}
	@if $wPos == right{
		right: $wOffset;
	}
	@else if $wPos == left{
		left: $wOffset;
	}
}
@mixin reset{
	position: relative;
	margin: 0;
	border: $border;
	box-sizing: border-box;
}
@mixin fill-parent{
	height: 100%;
	width: 100%;
}