@import "common";
.dh{
	@include page-size(4in,4.933in);
	position: relative;
	margin: 0;
	box-sizing: border-box;
	border: 7px solid black;
	header{
		width: 50%;
		height: 33%;
		position: absolute;
		left: 0;
		top: 0;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	main{
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
		iframe.promotion{
			position: absolute;
			top: 0;
			right: 0;
			height: 33%;
			width: 50%;		
		}
		img.nerd{
			height: 95%;
			position: absolute;
			top: 40%;
			left: 1%;
		}
		iframe.boxes{
			width: 62%;
			height: calc(62% - 0.6in);
			position: absolute;
			bottom: 0.6in;
			right: 1%;			
		}
	}
	footer{
		position: absolute;
		right:0;
		bottom: 0;
		width: 62%;
		height: 0.6in;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
}
.dq{
	//@include page-size(6.777in, 4.917in);
	@include page-size(4in,2.4333in);
	position: relative;
	margin: 0;
	box-sizing: border-box;
	border: 3pt solid black;
	header{
		width: 43%;
		height: 50%;
		position: absolute;
		left: 0;
		top: 0;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	main{
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
		iframe.promotion{
			position: absolute;
			left: 2%;
			bottom: 2%;
			height: 48%;
			width: 42%;
		}
		iframe.boxes{
			width: 33%;
			position: absolute;
			right: 1%;
			top: 0;
			height: 82%;
		}
		img.nerd{
			height: 135%;
			position: absolute;
			top: 13%;
			left: 40%;

		}
	}
	footer{
		position: absolute;
		right:0;
		bottom: 0;
		height: 18%;
		width: 42%;
		iframe{
			width: 100%;
			height: 100%;
		}	
	}
}
.th{
	@include page-size(6.05in,4.933in);
}
.yth{
	@include page-size(5.067in,4.933in);
}
.tq{
	@include page-size(6.05in, 2.433in);
	margin: 0;
	position: relative;
	overflow: hidden;
	border: 3pt solid black;
	box-sizing: border-box;
	header{
		width: 25%;
		height: 33%;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	main{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		img{
			position: absolute;
			height: 154%;
			left: 23%;
			top: 10%;
		}
		iframe.promotion{
			width: 25%;
			height: 67%;
			position: absolute;
			top: 30%;
			left: 0;
		}
		iframe.boxes{
			width: 62%;
			height: 38%;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	footer{
		width: 59%;
		height: 36%;
		position: absolute;
		bottom: 0;
		right: 0;

	}
}
.df{
	@include page-size(10in,10in);
}
.cp{
	@include page-size(8.1in,1.9in);
	margin: 0;
	header{
		width: 33%;
		height: 85%;
		float: left;
		iframe{
			width: 87%;
			display: block;
			margin: 0 auto;
		}
	}
	main{
		width: 67%;
		height: 85%;
		float: left;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
			&.nerd{
				height: 190%;
				top: -3%;
			}
			&.logo{
				height: 35%;
				left: 17%;
				bottom: 5%;
			}
		}	
		iframe#promotion{
			position: absolute;
			top: 0;
			right: 0;
			height: 50%;
			width: 62%;
		}
		iframe#colophon{
			position: absolute;
			bottom: 0;
			right: 0;
			height: 50%;
			width: 62%;
		}
		span.phone{
			position: absolute;
			top: 50%;
			right: 0;
			width: 62%;
			text-align: center;
			@include phone-style;
			font-size: 3rem;
		}
		a{}
	}
	footer{
		width: 100%;
		background: $yellow;
		height: 15%;
		float: left;
		box-sizing: border-box;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		span{
			font-family: "FuturaXK";
			width: 33%;
			font-size: 1.4rem;
			letter-spacing: -1px;
			text-align: center;
			display: block;
		}
	}
}







