.TH{	
	overflow: hidden;
	@include reset;
	>header{
		@include position(upper,left);
		height: $third;
		width: $THWratio;
		>iframe{
			@include fill-parent;
		}
	}
	>main{
		@include fill-parent;
		@include position(upper, left);
		>iframe.promotion{
			@include position(upper,left,$third,#{$THPadding * 2});
			width: calc(#{$THWratio} - #{$THPadding * 2});
			height: calc(#{$third + #{$THPadding * 2}})
		}
		>iframe.boxes{
			@include position(upper,right,$THPadding,$THPadding);
			width: $THWratio;
			height: #{100% - ($THHratio * 2)};
		}
		>img.nerd{
			@include position(upper,left,$THHratio,$third);
			height: 128%;
			z-index: 99;
		}
	}
	>footer{
		@include position(lower,left);
		height: $third;
		width: 100%;
		>iframe{
			@include position(center,left,null,#{$THPadding * 2});
			height: $third;
			width: $THWratio;
			
		}
	}
}