.TQ{
	overflow: hidden;	
	@include reset;
	>header{
		@include position(upper,left);
		height: $TQHratio;
		width: $TQWratio1;
		>img{
			width: 100%;
		}
	}
	>main{
		@include fill-parent;
		@include position(upper, left);
		>iframe.promotion{
			@include position(lower,left,$TQPadding,$TQPadding);
			height: calc(#{100% - $TQHratio} - #{$TQPadding});
			width: $TQWratio1;
		}
		>iframe.boxes{
			@include position(upper,right,$TQPadding,$TQPadding);
			height: $TQHratio;
			width: calc(#{$TQWratio2} - #{$TQPadding});
		}
		>img.nerd{			
			@include position(upper,left,10%,#{$TQWratio1 - 2%});
			height: 154%;
			z-index: 99;
		}
		>span{
			@include position(center,right,null,#{($TQWratio2 - (100 - $TQWratio2)) / 2});
			width: #{100 - $TQWratio2};
			height: 0;
			line-height: 0;
			white-space: nowrap;
			font-family: "FuturaXK";
			text-transform: uppercase;
		}
	}
	>footer{
		@include position(lower,right,0,$TQPadding);
		height: 36%;
		width: 59%;
		>iframe{
			@include fill-parent;
		}
	}
}