@import "common";
.ATT.TH{
	@include page-size(30.4pc,29.6pc);
	>main{
		>img.nerd{
			height: 104%;
		}
	}
}
.ATT.DQ{
	//@include page-size(40.66pc,29.5pc);
	@include page-size(20pc,14.6pc);
	>header{
		height: 45%;
	}
	>main{
		>img.nerd{
			top: 11%;
			left: 39%;
			height: 119%;
		}
		>iframe.promotion{
			bottom: #{$DQPadding * 3};
		}
	}
}
.ATT.DH{
	@include page-size(20pc,29.6pc);
	>main{
		>iframe.promotion{

		}
		>img.nerd{
			left: 0;
			height: 87%;
		}
	}
	>footer{
		height: 10%;
	}

}