@import "fonts";
@import "globals";
@import "mixins";
.AV50{
	display: flex;
	align-items: flex-end;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	main{
		background: $yellow;
		border: 2px solid black;
		display: flex;
		flex-wrap: wrap;		
		height: 80%;
		span{
			text-align: center;
			display: flex;
			justify-content: center;
			width: 100%;			
			line-height: 1;
			&:nth-of-type(1){
				font-size: 310%;
				font-family: "CCZoinks";
				color: $red;
				@include text-outline;
				margin-top: -12%;
			}
			&:nth-of-type(2){
				font-size: 90%;
				font-family: "FuturaXK";
				text-transform: uppercase;
				line-height: 1;
				letter-spacing: -1px;
			}
			&:nth-of-type(3){
				font-size: 70%;
				font-family: "FuturaCND";
			}
			&:nth-of-type(4){
				font-size: 180%;
				font-family: "CCZoinks";
				color: $red;
				position: relative;
				top: 2vw;
				@include text-outline;
			}
			&:nth-of-type(5){
				font-size: 60%;
				font-family: "FuturaCND";
			}
			@media only screen and (min-width: 2.5in){
				&:nth-of-type(1){					
					font-size: 360%;					
				}
				&:nth-of-type(2){					
					font-size: 130%;					
				}
				&:nth-of-type(3){
					font-size: 100%;
				}
				&:nth-of-type(4){					
					font-size: 280%;				
				}
				&:nth-of-type(5){
					font-size: 85%;
				}
			}
		}
	}
}
