@import "fonts";
@import "globals";
@import "mixins";
body.boxes{
	margin: 0;
	width: calc(100% - 1pt);
	margin-left: 1pt;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	height: 100%;
	align-content: space-around;
	>span{
		text-align: center;
		font-family: "CCZoinks";
		text-transform: uppercase;
		padding: 0 2%;
		border: 0.5pt solid black;
		box-shadow: -1pt 0.5pt 0 rgba(0,0,0,0.8);
		@include text-outline;
		color: white;
		max-height: 4em;
		>span{
			display: block;
			white-space: nowrap;
			line-height: 0;	
			position: relative;		
		}
		&:nth-of-type(1){
			width: 100%;
			height: 17%;
			>span{
				top: 58%;
			}
		}
		&:nth-of-type(2){
			width: 100%;
			height: 17%;
			>span{
				top: 55%;
			}
		}
		&:nth-of-type(3){
			width: 80%;
			height: 25%;
			>span#Fix{
				top:34%;
			}
			>span#Computer{
				top: 78%;
			}
		}
		&:nth-of-type(4){
			width: 62%;
			height: 25%;
			>span#Support{
				top: 27%;
			}
			>span#Business{
				top: 73%;
			}
		}
		#fix{
			margin-bottom: -5%;
		}
	}
	&.horizontal{
		justify-content: space-around;
		>span{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;			
			height: 45%;
			&:nth-of-type(1){
				//width: 60%;
				width: 52%;
				margin-right: 2%;
				order: 1;
				>span{
					width: 100%;
				}
			}
			&:nth-of-type(2){
				//width: 60%;
				width: 50%;
				margin-right: 2%;
				order: 3;
				>span{
					width: 100%;
				}
			}
			&:nth-of-type(3){
				//width: 35%;
				width: 37%;
				order: 2;
				>span{width: 100%;}
				>span#Fix{
					top: 41%;
				}
				>span#Computer{
					margin-top: -1em;
				}
			}
			&:nth-of-type(4){
				//width: 35%;
				width: 39%;
				order: 4;
				>span{width: 100%;}
				>span#Support{}
				>span#Business{
					width: 80%;
					margin-top: -0.7em;
				}
			}
		}
	}
}
