@import "fonts";
@import "globals";
@import "mixins";
.colophon{
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	float: left;
	margin: 0;
	>span{		
		display: block;		
	}
	#phone{
		font-family: "CCZoinks";
		color: $red;
		font-size: 288%;
		white-space: nowrap;
		width: 100%;
		line-height: 1;
		float: left;
		text-align: center;
		margin-top: 2%;
		@include text-outline;
	}
	#site{
		font-family: "FuturaXK";
		color: black;
		float: left;
		font-size: 130%;
		text-transform: uppercase;
		position: absolute;
		bottom: 2%;
		left: 0;
		width: 62%;
		text-align: left;
		//line-height: 75%;
		&:after{
			content: "6373";
			font-family: "CCZoinks";
			float: right;
			opacity: 0.5;
			color: black;
			text-shadow: none;
			font-size: 100%;
			letter-spacing: 0.5em;
			position: absolute;
			width: 62%;
			left: 104%;
			top: 9%;
			text-align: center;
			line-height: 110%;
			
		}
	}
}