@import "common";
.DEX.TH{
	@include page-size(36.3pc,29.6pc);
	>main{
		>iframe.promotion{
			height: 40%;
		}
	}
}
.DEX.DQ{
	@include page-size(24pc,14.6pc);
	>main{
		>iframe.promotion{
			height: 50%;
			width: 35%;			
		}
	}
	>footer{
		width: 38%;
	}
}
.DEX.TQ{
	@include page-size(36.3pc,14.6pc);
}
.DEX.DH{
	@include page-size(24pc,29.6pc);
}
.DEX.CP{
	@include page-size(2pc,2pc);
}