@import "fonts";
@import "globals";
@import "mixins";
body.masthead{
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	img{
		width: 100%;
		display: block;
		float: left;
		margin-bottom: -8%;
	}
	#tagline{
		font-family: "FuturaXK";
		text-transform: uppercase;
		width: 100%;
		text-align: center;
		display: block;
		float: left;
		white-space: nowrap;
	}
}