@import "common";
.twenty-five-off{
	margin: 0;
	height: 100%;
	width: 100%;

	main{
		background: $red;
		width: 100%;
		height: 100%;
		display: flex;
		span{
			font-family: "CCZoinks";
			color: white;
			@include text-outline;
		}
	}
	#price{
		width: 62%;
		text-align: right;
		display: table;
		height: 100%;
		>span{
			display: table-cell;
			vertical-align: middle;
		}
	}
	#details{
		width: 38%;
		text-align: center;
		display: table;
		height: 100%;
		>span{
			display: table-cell;
			vertical-align: middle;
		}
	}
}